[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"pytest-pep8" = "*"
"pytest-flake8" = "*"
pytest-mock = "*"
"pep8" = "*"
pylint = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
ipython = "*"
livereload = "*"
click = "*"
black = "==18.9b0"

[packages]
flask = "*"
flask-moment = "*"
gunicorn = "*"
"mailchimp3" = "*"
flask-caching = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
py-trello = {ref = "b929721397077f31a06603d7bb7843526d2a926b",git = "https://github.com/boulder-python/py-trello.git",editable = true}
celery = "*"
flask-celery-helper = "*"
flask-sendgrid = "*"
"markdown2" = "*"
flask-migrate = "*"
psycopg2-binary = "*"
bugsnag = {extras = ["flask"],version = "*"}
blinker = "*"
