{% extends 'base.html' %}

{% block content %}
.section-header
  %div BoulderPython 3.6.1 (default, May 21 2017, 11:10:04)
  %div [GCC 4.2.1 Compatible Apple LLVM 8.1.0 (clang-802.0.42)] on darwin

.spacer

.section-header
  >>>
  %span.keyword repr
  %span> (
  %span.variable> Community
  %span> )

.section-body
  We are a group of python developers, scientists, automators, and enthusiasts that gather once a month in Boulder,
  Colorado to discuss all things python.  We usually meet on the 2nd Tuesday of each month.  You can find and engage with
  us on&nbsp;
  %a(href="https://www.meetup.com/boulderpython/")><Meetup
  ,&nbsp;
  %a(href="https://twitter.com/boulderpython")><Twitter
  , and&nbsp;
  %a(href="https://denver-dev-slack.herokuapp.com/")><Slack
  &nbsp;in the (
  %a(href="https://denver-devs.slack.com/messages/C41FCTDLP/")><#meetup-python
  ) and (
  %a(href="https://denver-devs.slack.com/messages/C040UH1HS/")><#help-python
  ) topics.

.section-header
  >>>
  %span.keyword repr
  %span> (
  %span.variable> Speak
  %span> )

.section-body
  We're always looking for speakers at our meetups.  Whether you have a short talk, long talk, or just an idea for a talk,
  we'd love to have you.  Submit your talk on
  %a(href="https://papercall.io/boulder-python")<Papercall
  to get the conversation going!

.section-header
  >>>
  %span.keyword repr
  %span> (
  %span.variable> Organizers
  %span> )

.section-body
  [
  %ul
    %li
      'Scott Vitale &lt;
      %a(href="mailto:scott@spigotlabs.com")> scott@spigotlabs.com
      &gt;
      %a(href="https://twitter.com/svvitale")><
        %span(class="fa fa-twitter")
      %a(href="https://github.com/svvitale")><
        %span(class="fa fa-github")
      '
    %li
      'Frank Valcarcel &lt;
      %a(href="mailto:frank@cuttlesoft.com")> frank@cuttlesoft.com
      &gt;
      %a(href="https://twitter.com/fmdfrank")><
        %span(class="fa fa-twitter")
      %a(href="https://github.com/frankv")><
        %span(class="fa fa-github")
      '
  ]

.section-header
  >>>
  %span.keyword repr
  %span> (
  %span.variable> Sponsors
  %span> )

.section-body
  {
  %ul
    %li
      %a(href="https://www.galvanize.com/boulder/campus")><"Galvanize Boulder"
      \: "Hosts our meetups and provides tasty food, beer, and refreshments (along with full stack and data science bootcamp
      programs).  Contact Tara McLauchlan &lt;
      %a(href="mailto:tara.mclauchlan@galvanize.com")> tara.mclauchlan@galvanize.com
      &gt; to learn more.",
    %li
      %a(href="https://getstream.io/")><"Stream.io Inc"
      \: "Build Scalable Newsfeeds & Activity Streams",
    %li
      %a(href="http://spigotlabs.com/")><"Spigot Labs"
      \: "Add RFID to your beer, wine, and food festivals to track tastes and interactions between patrons and vendors."
  }

.section-header
  >>>
  %span.keyword repr
  %span> (
  %span.variable> CodeOfConduct
  %span> )

.section-body
  Our community has implemented the PyCon
  %a(href="https://us.pycon.org/2017/about/code-of-conduct/") Code of Conduct
  for ensuring all members attending our sessions, meetups, and events feel included and heard. Thanks for your mutual
  respect to one another.

.section-header
  >>>
  %span.keyword repr
  %span> (
  %span.variable> Contribute
  %span> )

.section-body
  We welcome contributions, changes, and corrections to our website.  Please submit a pull request (with tests) as
  outlined on the
  %a(href="https://github.com/boulder-python/boulderpython.org") Github
  repo.

{% endblock %}

