{% extends 'layout/base.html' %}

{% block content %}

<!-- #page-title -->
<section id="page-title" class="gradient-overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>PRIVACY POLICY</h1>
            </div>
        </div>
    </div>
</section>
<!-- /#page-title -->

<!-- #single-page -->
<section id="single-page">
    <div class="container">
        <div class="row">
            <!-- .single-page-text -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-0 col-md-offset-0 single-page-text">
                <p>
                    We use Google Analytics to track visits on our site.
                    If you're concerned about what they track, you're welcome to block their javascript.
                </p>
            </div>
            <!-- /.single-page-text -->
        </div>
    </div>
</section>
<!-- /#single-page -->

{% endblock %}
