{% extends 'layout/base.html' %}

{% block content %}

<!-- #page-title -->
<section id="page-title" class="gradient-overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>SUBMIT A TALK</h1>
            </div>
        </div>
    </div>
</section>
<!-- /#page-title -->

<!-- #single-page -->
<section id="submit">
    <div class="container">
        <div class="row">
            <!-- .submit-text -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-0 col-md-offset-0 submit-text">
                <h3>Submit a talk to Boulder Python</h3>
            </div>
            <!-- /.submit-text -->
        </div>
    </div>
</section>
<!-- /#submit -->

{% endblock %}
