{% extends 'base.html' %}

{% block content %}
%h1 Privacy Notice

%p
  We use Google Analytics to track visits on our site. if you're concerned about what they track, you're welcome to block
  their javascript.

{% endblock %}
