$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3)
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    .footer,h1,h2,h3,h4,h5,h6 { background-color: $rebase02; color: $rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}
.light {
  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
  @include accentize($orange);
}
.dark  {
  @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
  @include accentize($orange);
}
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  overflow-y: scroll;
  @media (max-width: 599px) {
    font-size: 0.9em;
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    & > * {
      margin-top: 10px;
    }
  }
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

.header {
  ul.nav-social {
    margin: 5px;
    float: right;
    font-size: 1.5em;
    li {
      display: inline-block;
      width: 25px;
      height: 25px;
    }
  }
  @media (max-width: 599px) {
    height: 50px;
  }
}

.body-content {
  padding: 5px;
}

.section-header {
  font-size: 1.5em;
}

.section-body {
  padding: 20px 10px 30px 10px;
  .fa {
    margin-left: 5px;
    font-size: 1.2em;
  }
}

.spacer {
  height: 30px;
}

.keyword {
  color: $yellow;
}

.variable {
  color: $blue;
}

.switch-light, .switch-dark {
  display: inline-block;
  margin: 5px 5px 2px; 5px;
  width: 16px;
  height: 16px;
  border-radius: 16px;

}

.switch-light {
  background-color: $base3
}

.switch-dark {
  background-color: $base03
}