/**
 * banner styles
 */

#banner {
  @include horizontal-gradient($left, $right, $stop);
  background: url(../img/background/banner-bg-flatirons-sm.jpg) no-repeat center center;
  background-size: cover;
  min-height: 60vh;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 40vh;
    @include horizontal-gradient-image($left, $right, $stop);
    opacity: 0.7;
  }

  button {
    padding: 0 43px;
    line-height: 44px;
    border: 2px solid $accent1;
    background: $accent1;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 45px;
    transition: all ease-in-out 300ms;

    &:hover {
      background: darken($accent1, 10%);
      border: 2px solid darken($accent1, 10%);
      transform: translate(0, -5px);
    }

    &:before {
      background: $white;
      border-radius: 5px;
    }
  }

  .banner-container {
    width: 100%;
    position: relative;
    padding: 0;

    .banner {
      width: 100%;
      position: relative;
    }
  }

  .caption {
    width: 100%;
    z-index: 9999;
  }

  .tp-bullets {
    display: none;
  }

  .slotholder {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: .96;
      width: 100%;
      height: 100%;
      background: $left;
      z-index: 99;
      @include horizontal-gradient($left, $right, $stop);
    }
  }

  .date {
    background: url(../img/resources/date-bg.png) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    line-height: 40px;
    color: $white;
    padding: 0 30px;
    margin-bottom: 25px;
    text-align: center;
  }

  h1 {
    font-weight: 900;
    font-size: 48px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20vh;
  }

  h2 {
    text-align: center;
  }

  .input-box ul {
    margin-bottom: 40px;
    li {
      display: inline;
      span {
        display: inline-block;
        input {
          text-align: center;
          height: 45px;
          line-height: 45px;
          width: 240px;
          border: 2px solid #ccc;
          border-radius: 5px;
          margin-right: 20px;
          padding: 0 20px;
          outline: none;
        }
      }
    }
  }

  p {
    color: $white;
    font-size: 16px;
    line-height: 27px;
  }

  a {
    text-align: center;
  }
}