/**
 * overlay styles
 */

 .gradient-overlay {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: .96;
    width: 100%;
    height: 100%;
    background: $left;
    @include horizontal-gradient($left, $right, $stop);
  }
}