/**
 * sass variables
 */

// base colors
$white:         #ffffff;
$accent1:       #FF8625;
$accent2:       #00D8B7;
$primary:       #C33764;
$secondary:     #1D2671;


// typography
$font-dark:     #374045;
$font-light:    #929FA8;


// gradient overlay
$left:          $primary;
$right:         $secondary;
$stop:          #7db9e8;